/* Start Topbar */
.top-bar {
  background: url(../images/egy.png) top center;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* Start Header */
nav .pm-logo {
  background-image: url(../images/paymestore-logo.png);
  background-size: cover;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 29px;
}

nav .nav-item {
  padding: 10px 0;
  padding-right: 10px;
}

@media (max-width: 767px) {
  nav .nav-item {
    padding-right: 25px;
    padding-left: 25px;
  }
}

nav .nav-item .nav-item__button {
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  background: #f5f5f5;
  border: 1px solid #c0c0c0;
  color: #333 !important;
}
/* End Header */
/* Start Invoice Header */
.invoice {
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.invoice-header {
  margin-bottom: 30px;
}

.invoice-header h1 {
  background: #000;
  border-radius: 0.25em;
  color: #FFF;
  margin: 0 0 1em;
  padding: 0.5em 0;
  letter-spacing: 18px;
  font-weight: bold
}

.invoice-header__thumbnail {
  padding-top: 20px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-right: 70px;
  margin-left: 70px;
}

.invoice-header__logo {
  height: 135px !important;
  padding: 20px 30px;
}

.invoice-header__thumbnail h2 a {
  color: #000 ;
}

.invoice-header__table {
  margin: auto;
  width: 80%;
  margin-top: 16%;
}

@media (max-width: 767px) {
  .invoice-header__table {
    border: 1px solid #ddd !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.invoice-header__table th {
  width: 40%;
  background: #EEE;
  border: 1px solid #BBB !important;
  border-radius: 0.25em;
  font-weight: 100;
}

.invoice-header__table--two {
  margin-top: 15px;
  width: 90%;
}

.invoice-header__table--two th {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  width: 33.3333%;
}
/* End Invoice Header */
/* Start Invoice Body */
.invoice-body {
  padding: 50px 0;
}

.invoice-body h1 {
  border-color: #999;
  border-bottom-style: solid;
  border-width: 0 0 1px;
}

.invoice-body__paragraph {
  margin-top: 25px;
  text-align: left;
}

.invoice-body__payment {
  padding: 50px 0;
}

.invoice-body__method,
.invoice-body__promo {
  padding: 0;
  border-radius: 10px;
}

.invoice-body__promo .caption {
  margin: 60px auto;
}

.invoice-body__method h3,
.invoice-body__promo h3 {
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  margin: 0;
  color: #777;
  font-size: 18px;
}

.invoice-body__promo input {
  font-size: 17px;
}

.invoice-body__select {
  padding-top: 48px;
  padding-bottom: 48px;
  line-height: 3;
}

.invoice-body__select img {
  width: 90px;
  height: auto;
}

.invoice-body__total {
  font-size: 20px;
  color: #253858;
  padding: 0px 15px 20px 15px;
  font-weight: 600;
  line-height: 1.4
}
/* End Invoice Body */
/* Start Invoice Footer */
.invoice-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 20px;
}

@media (max-width: 991px) {
  .invoice-footer__list--one {
    width: 435px;
    margin: auto;
  }

  .invoice-footer__list--two {
    width: 240px;
    margin: auto
  }
}

.invoice-footer__item {
  float: left;
}

.invoice-footer__item--right {
  float: right;
}

.invoice-footer__link {
  margin-left: 10px;
  margin-right: 25px;
  text-decoration: none;
  color: #bebebe;
}

.invoice-footer__link:hover {
  text-decoration: none;
}
/* End Invoice Footer */
/* Start SignIn Modal */
.signUp-modal,
.signIn-modal,
.forgot-modal {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
}

.modal-social__wrapper {
  border-right: 1px solid #eee;
}

.modal-social__item {
  height: 56px;
  width: 100%;
  margin-bottom: 18px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.modal-social__item:hover {
  text-decoration: none;
  color: white;
}

.modal-social__logo {
  display: inline-block;
  padding: 0 20px;
  line-height: 58px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 22%;
  position: absolute;
  left: 0;
}

.modal-social__logo--facebook {
  background-color: #344D7C;
}

.modal-social__logo--google {
  background-color: #ff4343;
}

.modal-social__connect {
  line-height: 58px;
  height: 100%;
  width: 80%;
  position: absolute;
  right: 0px;
}

.modal-social__connect--facebook {
  background-color: #3D5C97;
}

.modal-social__connect--facebook:hover {
  background-color: #2e4e8c;
}

.modal-social__connect--google {
  background-color: #ff5d5d; 
}

.modal-social__connect--google:hover {
  background-color: #ff3c3c;
}
/* End SignIn Modal */
/* Utilities */
.bRadiud-0 {
  border-radius: 0;
}

.padding-top-8 {
  padding-top: 8px;
}

.select-border {
  border: 2px solid #bebebe;
  border-radius: 10px;
}

.select-padding {
  padding-top: 3px;
  padding-left: 10px;
  border-right: 2px solid #bebebe;
}

.select-img-padding {
  padding-top: 4px;
}

.social {
  padding: 3px 6px;
  border: 1px solid black;
}

.cursor-pointer {
  cursor: pointer;
}

/* .social-f:hover {
  color: #3b5998;
}

.social-l:hover {
  color: #0077b5;
} */

.grey-shadow {
  float: left;
  position: relative;
  width: 100%;
  padding-top: 18px;
  margin-bottom: 10px;
}

.grey-shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}